@page "/roles"
@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>De-Kaya Systems | @PageTitleConstans.RolesPage </PageTitle>

<PageHeader
    Title="Role - Yetkilendirme yönetimi"
    Icon="bi-shield-lock"
    Description="Bu sayfada kullanıcı izinlerini yönetebilirsin."
    ShowAddButton= "true"
    AddBtnUrl="/" />


<div class="card-body pb-2 px-0 mb-0">
@*     <QuickGrid 
        Class="table table-striped m-0">

    <PropertyColumn
        Title="Rol Adı"
        Property="@(role => role.Name)"
        Sortable="true"/>

    <PropertyColumn
        Title="Aktif mi?"
        Property="@(role => role.IsActive)"
         Sortable="true"/>

    <PropertyColumn
        Title="Oluşturulma Tarihi"
        Property="@(role => role.)"
        Format="dd-MM-yyyy hh:mm"
         Sortable="true"/>

    <PropertyColumn
        Title="Oluşturan"
        Property="@(role => role.)"
        Sortable="true"/>

    <PropertyColumn
        Title="Güncelleme tarihi"
        Property="@(role => role.)"
        Format="dd-MM-yyyy hh:mm"
        Sortable="true"/>

    <PropertyColumn
        Title="Güncelleyen"
        Property="@(role => role.)"
        Sortable="true"/>
    </QuickGrid> *@
</div>

@code {

    public sealed class RoleViewModel
    {
        public string Id { get; set; } = null!;
        public string? Name { get; set; }
        public bool IsActive { get; set; }
        public DateTime CreatedAt { get; set; }
        public string? CreatedBy { get; set; }
        public DateTime UpdatedAt { get; set; }
        public string? UpdatedBy { get; set; }
        public string? UpdatedFullName { get; set; }
    }
}
