@page "/roles"
@using DeKayaServer.BlazorApp.Components.Common.IsLoading
@using DeKayaServer.BlazorApp.Components.Common.QuickGrid
@using DeKayaServer.BlazorApp.Components.Pages.Permission
@using DeKayaServer.BlazorApp.Components.Pages.Role.AddRole
@using DeKayaServer.BlazorApp.Components.Pages.Role.DeleteRole
@using DeKayaServer.BlazorApp.Components.Pages.Role.Update
@using Microsoft.AspNetCore.Components.QuickGrid
@inject RoleService RoleService
@rendermode InteractiveServer

<PageTitle>De-Kaya Systems | @PageTitleConstans.RolesPage </PageTitle>

<PageHeader
    Title="Role - Yetkilendirme yönetimi"
    Icon="bi-shield-lock"
    Description="Bu sayfada kullanıcı izinlerini yönetebilirsin."/>
    @if ( isLoading )
    {
        <IsLoading Message="Roller getiriliyor, lütfen bekleyin." />
    }
    else
    {
        <DeKayaQuickGrid 
                Title="Rol Listesi"
                    ShowTitle="true"
                    ShowSearchInput="true"
                    ShowSearchResultCount="true"
                    TotalItemCount="@FilteredItems.Count"
                    SearchTerm="@searchTerm"
                    SearchTermChanged="OnSearchTermChanged"
                    ShowPageSizeSelector="true"
                    PageSize="@pageSize"
                    PageSizeChanged="OnPageSizeChanged">
                <HeaderActions>
                <button type="button" class="btn btn-outline-success btn-sm" @onclick="ShowCreateRoleDialog">
                        <i class="bi bi-plus-circle"></i>
                        <span>Ekle</span>
                    </button>
                </HeaderActions>
                <QuickGridContent>
                    <QuickGrid Items="@GridItems"
                        Pagination="pagination"
                        Class="table table-striped table-hover table-responsive mb-0 align-middle"
                        TItem="RoleViewModel">
                        <PropertyColumn Property="@(u => u.Name)" Title="Rol" Sortable="true" />
                        <TemplateColumn Title="Durum" Sortable="true" Context="u">
                            <span class="badge @(u.IsActive ? "bg-success" : "bg-secondary") p-2">
                                <i class="bi @(u.IsActive ? "bi-check-circle" : "bi-x-circle") me-1"></i>
                                @(u.IsActive ? "Aktif" : "Pasif")
                            </span>
                        </TemplateColumn>
                        <PropertyColumn Property="@(u => u.CreatedFullName)" Title="Oluşturan" />
                        <PropertyColumn Property="@(u => u.CreatedAt)" Title="Oluşturulma" Format="dd-MM-yyyy - HH:mm" />
                        <PropertyColumn Property="@(u => u.UpdatedAt)" Title="Güncellenme" Format="dd-MM-yyyy - HH:mm" />
                        <PropertyColumn Property="@(u => u.UpdatedFullName)" Title="Güncelleyen" />
                        <TemplateColumn Title="İşlemler" Context="u">
                            <div class="d-flex gap-2 py-1 justify-content-start">
                                <button 
                                    type="button" 
                                    class="btn btn-outline-secondary btn-sm"
                                    @onclick="ShowPermissionComponent">
                                    <i class="bi bi-key"></i>
                                    <span>İzinler</span>
                                </button>
                                <button 
                                    type="button" 
                                    class="btn btn-outline-primary btn-sm"
                                    @onclick="(() => ShowUpdateRoleDialog(u))">
                                    <i class="bi bi-pen"></i>
                                    <span>Güncelle</span>
                                </button>

                                <button 
                                    type="button" 
                                    class="btn btn-outline-danger btn-sm"
                                    @onclick="( () => ShowDeleteRoleDialog(u))">
                                    <i class="bi bi-trash3"></i>
                                    <span>Sil</span>
                                </button>
                            </div>
                        </TemplateColumn>
                    </QuickGrid>
                    <div class="p-2">
                        <Paginator State="pagination" />
                    </div>             
                </QuickGridContent>
            </DeKayaQuickGrid>
    }

    <CreateRoleDialog @ref="createRoleDialog" RoleAdded="HandleRoleAddedAsync"/>
    <DeleteRoleDialog @ref="deleteRoleDialog" RoleId="@selectedRoleId" RoleName="@selectedRoleName" RoleDeleted="HandleRoleDeletedAsync" />
    <UpdateRoleDialog @ref="updateRolDialog" RoleId="@selectedRoleId" RoleName="@selectedRoleName" RoleIsActive="@selectedRoleIsActive" RoleUpdated="HandleRoleUpdatedAsync" />
    <PermissionComponent @ref="permissionDialog" />

@code {
    private bool isLoading;
    private List<RoleViewModel> allItems = [];
    private string searchTerm = string.Empty;
    private int pageSize = 10;
    private PaginationState pagination = new() { ItemsPerPage = 10 };

    private CreateRoleDialog? createRoleDialog;
    private DeleteRoleDialog? deleteRoleDialog;
    private UpdateRoleDialog? updateRolDialog;
    private PermissionComponent? permissionDialog;

    private string? selectedRoleId;
    private string? selectedRoleName;
    private bool selectedRoleIsActive;

    private IReadOnlyList<RoleViewModel> FilteredItems =>
    ( string.IsNullOrWhiteSpace( searchTerm )
        ? allItems
        : allItems
            .Where( u =>
                ( u.Name != null && u.Name.Contains( searchTerm, StringComparison.OrdinalIgnoreCase ) ||
                u.IsActive.ToString().Contains( searchTerm, StringComparison.OrdinalIgnoreCase ) ) )
            .ToList() );

    private IQueryable<RoleViewModel> GridItems => FilteredItems.AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        await LoadRolesAsync();
    }

    private async Task HandleRoleAddedAsync()
    {
        await LoadRolesAsync();
        await InvokeAsync( StateHasChanged );
    }

    private async Task HandleRoleDeletedAsync()
    {
        await LoadRolesAsync();
        selectedRoleId = null;
        selectedRoleName = null;
        await InvokeAsync( StateHasChanged );
    }

    private async Task HandleRoleUpdatedAsync()
    {
        await LoadRolesAsync();
        await InvokeAsync( StateHasChanged );
    }

    private async Task OnSearchTermChanged( string value )
    {
        searchTerm = value;
        await pagination.SetCurrentPageIndexAsync( 0 );
    }

    private async Task OnPageSizeChanged( int value )
    {
        pageSize = value;
        pagination.ItemsPerPage = value;
        await pagination.SetCurrentPageIndexAsync( 0 );
    }

    private async Task ShowCreateRoleDialog()
    {
        if(createRoleDialog is null)
        {
            return;
        }
        await createRoleDialog.ShowAsync();
    }

    private async Task ShowDeleteRoleDialog(RoleViewModel role)
    {
        selectedRoleId = role.Id;
        selectedRoleName = role.Name;

        if ( deleteRoleDialog is null )
        {
            return;
        }
        await deleteRoleDialog.ShowAsync();
    }

    private async Task ShowUpdateRoleDialog(RoleViewModel model)
    {
        selectedRoleId = model.Id;
        selectedRoleName = model.Name;
        selectedRoleIsActive = model.IsActive;

        if ( updateRolDialog is null )
        {
            return;
        }
        await updateRolDialog.ShowAsync();
    }

    private async Task ShowPermissionComponent()
    {
        if ( permissionDialog is null )
        {
            return;
        }
        await permissionDialog.ShowAsync();
    }

    private async Task LoadRolesAsync()
    {
        isLoading = true;
        try
        {
            var result = await RoleService.GetAllAsync();
            if ( !result.IsSuccessful || result.Data is null )
            {
                allItems = [];
                return;
            }

            allItems = result.Data.Select( r => new RoleViewModel
            {
                Id = r.Id.ToString(),
                Name = r.Name,
                IsActive = r.IsActive,
                CreatedAt = r.CreatedAt,
                UpdatedAt = r.UpdatedAt,
                UpdatedBy = r.UpdatedBy.ToString(),
                UpdatedFullName = r.UpdatedFullName,
                CreatedFullName = r.CreatedFullName
            } ).ToList();
        }
        finally
        {
            isLoading = false;
            await pagination.SetCurrentPageIndexAsync( 0 );
            await InvokeAsync( StateHasChanged );
        }        
    }
}